

.head .sticker2  .top {
    z-index: 100!important;
    position: relative;
}

.head .sticker2 .bottom {
    z-index: 10!important;
    position: relative;
}






.head {

   width: 200px;
   position: absolute;
    /*margin-top: 20px;*/
    /*margin-left: 50%;*/
   /* box-shadow: -2px 4px 2px  #b3bbc6;*/
   /* max-height: 150px;*/
    /* margin: 0 auto;*/
   /* box-shadow: -2px 4px 2px  #b3bbc6;*/
    /*height: auto;*/

}
.spec {
   /* min-height: 27px;*/
    background: #BDBDBD;
    /*position: relative;*/
    color: black;
  /*  box-shadow: -2px 0px 2px  #b3bbc6;*/
   /* box-shadow: 0px 7px 10px  #b3bbc6;*/

    /* height: 7px;*/
    font-family: Droid Sans;
    font-size: 16px;
    line-height: 0.6em;
    opacity:0.9;
    min-height: 24px;
    font-weight: bold;
    text-align: left;
    padding-left:  12px;
    padding-top: 5px;
    margin: 0 auto;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 0px;
    /* border-top-left-radius: 10px;
     border-top-right-radius: 10px;*/


}

.sticker2 {

    box-shadow: -2px 4px 2px  #b3bbc6;

    resize: both;
    overflow: auto;
    opacity: 0.8;
    height: auto;
    padding: 3px;

    max-width: 500px;
    max-height: 500px;
    font-family: Droid Sans;
    font-size: 18px;
   min-width: 192px;
    font-weight: bold;
    text-align: left;
    padding: 4px;
    margin: 0 ;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    border-radius: 0px;
   /* min-height: 118px;*/
    outline: none;
}


.paragraphClass {
margin-top:  3px;
border:none;
    /*  resize: both;*/
    color: black;
    outline: none;
   /* direction: rtl;*/
    /* overflow: hidden;*/
/*width: inherit;*/
    /*height: auto;*/
  /* display:table-cell		;*/
  /*  font-family: monospace;*/
   /* white-space: pre;*/
    max-width: 490px;

    min-height: 108px;



}

.loading{
   /* float: left;
    align:middle;*/
    width: 10px;
    height:10px;
    position: relative;top:5px ;
}

/*.p {

     border:none;
     /*  resize: both;
     outline: none;
     overflow: hidden;

     width: inherit;
     /*height: auto;
     display:table-cell;
     font-family: monospace;
     white-space: pre;

 }*/
